<!DOCTYPE html>
<html>
<head>
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<h1>Admin Dashboard 🔒</h1>

<a href="/admin/create?password=1234">+ Create New Post</a>

<hr>

<% posts.forEach(post => { %>
    <h2><%= post.title %></h2>

    <a href="/edit/<%= post._id %>">Edit</a> |
    <a href="/delete/<%= post._id %>" style="color:red;">Delete</a>

    <hr>
<% }) %>

</body>
</html>