<!DOCTYPE html>
<html>
<head>
    <title>Contact</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>

<nav style="text-align:center; margin-bottom:20px;">
    <a href="/">Home</a> |
    <a href="/about">About</a> |
    <a href="/contact">Contact</a> |
    <!-- <a href="/admin">Admin</a> -->
</nav>

<h1>Contact Us</h1>

<p>Email: chikaodiliuwaonu12@gmail.com</p>
<p>Phone: +234 7065893489</p>

</body>
</html>